.player-card {
  width: 13rem;
}

.player-card-title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  font-size: 1.25rem;
  height: 2.6rem;
}

.player-card-img-top {
  height: 8.75rem;
}

.price-badge {
  padding: 0.3125rem 0.625rem;
  position: absolute;
  font-size: 1.25rem;
}

.player-position {
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 2rem 0.75rem;
  font-size: 0.75rem;
}

.ppg {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin: 0.5rem;
}

.ppg-label {
  font-size: 0.75rem;
  padding-top: 1.1rem;
}

.btn-circle.btn-lg {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 0.9rem;
  border-radius: 1.375rem;
}

.button {
  color: white;
  padding-left: 9rem;
  padding-top: 7rem;
  position: absolute;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.player-card::before, .player-card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.7s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.player-card::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.player-card::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.player-card:hover::before, .player-card:focus::before, .player-card:hover::after, .player-card:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.player-card:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #F8F8F8;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  outline: none !important;
  z-index: 1000;
}

.progress-bar {
  border-radius: 0.5rem;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
}

.navbar-login
{
    width: 19rem;
    padding: 0.625rem;
}

.btn-no-outline {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  cursor: pointer;
}


/* Injury feed */
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 16.25rem;
  height: 21.35rem;
  -webkit-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0rem 0.0625rem 2.1875rem 0rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0rem 0.0625rem 2.1875rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0rem 0.0625rem 2.1875rem 0rem rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module:hover .post-content .description,
.hover .post-content .description {
  max-height: 9rem;
}
.post-module .thumbnail {
  background: #000000;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
}
.post-module .thumbnail .date .day {
  margin-top: 0.1875rem;
  font-size: 0.875rem;
}
.post-module .thumbnail img {
  width: 105%;
  display: block;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 0.8rem 1.875rem 0.8rem 1.875rem;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -2.125rem;
  left: 0;
  padding: 0.625rem 0.9375rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.injury-active {
  background: green;
}
.injury-out {
  background: red;
}
.injury-questionable {
  background: #FFD700;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 0.625rem;
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}
.post-module .post-content .sub_title {
  margin: 0;
  color: #e74c3c;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.post-module .post-content .description {
  display: block;
  max-height: 0;
  color: #666666;
  font-size: 0.875rem;
  line-height: 1.8em;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  overflow: auto;
}
.post-module .post-content .post-meta {
  margin-left: -1rem;
  margin-right: -2rem;
  font-size: 0.8rem;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 1rem 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  max-height: 6.25rem !important;
  opacity: 1 !important;
}
.injury-container {
  margin: 0 auto;
}
.injury-container:before,
.injury-container:after {
  content: '';
  display: block;
  clear: both;
}

/*My profile*/
.team-badge {
  transform: scale(2);
  padding-left: 5.5rem;
}
.about-me {
  display: block;
  word-wrap: break-word;
}
.src-image {
  display: none;
}

.friend-card {
   margin-top: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.friend-card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.friend-card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.friend-card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}
.round-img{
  border-radius: 50%;
  width: 20rem;
  margin: 2rem;
}


/*Read more*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

.news-card {
  max-width: 30em;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}