.card {
  width: 20rem;
}

.card-block {
  max-height: 50px;
  background-color: #2E2E2E;
}

.card-title {
  color: white;
  overflow-x: hidden;
  height: 100px;
  white-space: nowrap;
}

.card-img-top {
  max-height: 140px;
}

.card {
  text-align: center;
}

.price-badge {
  width: 40px;
  height: 25px;
  padding: 5px 10px;
  position: absolute;
  float: right;
  font-size: 20px;
}

.player-position {
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 32px 12px;
  font-size: 12px;
}

.ppg {
  color: white;
  width: 350px;
  float: right;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.ppg-label {
  font-size: 12px;
  padding-top: 27px;
}

.btn-circle.btn-lg {
  width: 44px;
  height: 44px;
  font-size: 10px;
  border-radius: 22px;
}

.button {
  padding-left: 145px;
  padding-top: 110px;
  position: absolute;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
