.card {
  width: 20rem;
  text-align: center;
}

.card-block {
  size: 10px;
  height: 50px;
}

.card-title {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  bottom: 15px;
  font-size: 20px;
}

.card-img-top {
  max-height: 140px;
}

.price-badge {
  width: 40px;
  height: 25px;
  padding: 5px 10px;
  position: absolute;
  float: right;
  font-size: 20px;
}

.player-position {
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 32px 12px;
  font-size: 12px;
}

.ppg {
  color: white;
  width: 350px;
  float: right;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.ppg-label {
  font-size: 12px;
  padding-top: 27px;
}

.btn-circle.btn-lg {
  width: 44px;
  height: 44px;
  font-size: 10px;
  border-radius: 22px;
}

.button {
  padding-left: 145px;
  padding-top: 110px;
  position: absolute;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.7s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card:hover::before, .card:focus::before, .card:hover::after, .card:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.card:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #F8F8F8;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  outline: none !important;
  z-index: 1000;
}