.card {
  width: 13rem;
}

.card-title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  font-size: 1.25rem;
}

.card-img-top {
  max-height: 8.75rem;
}

.price-badge {
  padding: 0.3125rem 0.625rem;
  position: absolute;
  font-size: 1.25rem;
}

.player-position {
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 2rem 0.75rem;
  font-size: 0.75rem;
}

.ppg {
  color: white;
  font-weight: bold;
  position: absolute;
  padding-top: 0.6rem;
  padding-left: 10rem;
}

.ppg-label {
  text-align: right;
  font-size: 0.75rem;
  padding-top: 1.75rem;
  padding-left: 10.5rem;
}

.btn-circle.btn-lg {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 0.9rem;
  border-radius: 1.375rem;
}

.button {
  color: white;
  padding-left: 9rem;
  padding-top: 7rem;
  position: absolute;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.7s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card:hover::before, .card:focus::before, .card:hover::after, .card:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.card:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #F8F8F8;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  outline: none !important;
  z-index: 1000;
}

.progress-bar {
  border-radius: 0.5rem;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
}

.navbar-login
{
    width: 19rem;
    padding: 0.625rem;
}

.btn-no-outline {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  cursor: pointer;
}