.card {
  width: 13rem;
}

.card-title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  font-size: 1.25rem;
}

.card-img-top {
  max-height: 8.75rem;
}

.price-badge {
  padding: 0.3125rem 0.625rem;
  position: absolute;
  font-size: 1.25rem;
}

.player-position {
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 2rem 0.75rem;
  font-size: 0.75rem;
}

.ppg {
  color: white;
  font-weight: bold;
  position: absolute;
  padding-top: 0.6rem;
  padding-left: 10rem;
}

.ppg-label {
  text-align: right;
  font-size: 0.75rem;
  padding-top: 1.75rem;
  padding-left: 10.5rem;
}

.btn-circle.btn-lg {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 0.9rem;
  border-radius: 1.375rem;
}

.button {
  color: white;
  padding-left: 9rem;
  padding-top: 7rem;
  position: absolute;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.38s ease-in-out, transform 0.7s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card:hover::before, .card:focus::before, .card:hover::after, .card:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.card:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #F8F8F8;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  outline: none !important;
  z-index: 1000;
}

.progress-bar {
  border-radius: 0.5rem;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
}

.navbar-login
{
    width: 19rem;
    padding: 0.625rem;
}

.btn-no-outline {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  cursor: pointer;
}


/* Injury feed */
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 16.25rem;
  height: 22rem;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module:hover .post-content .description,
.hover .post-content .description {
  max-height: 8.5rem;
}
.post-module .thumbnail {
  background: #000000;
  height: 22rem;
  overflow: hidden;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}
.post-module .thumbnail .date .day {
  margin-top: 0.1875rem;
  font-size: 0.875rem;
}
.post-module .thumbnail img {
  display: block;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 1.875rem;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -2.125rem;
  left: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.injury-active {
  background: green;
}
.injury-out {
  background: red;
}
.injury-questionable {
  background: #FFD700;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 0.625rem;
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}
.post-module .post-content .sub_title {
  margin: 0;
  color: #e74c3c;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.post-module .post-content .description {
  display: block;
  max-height: 0;
  color: #666666;
  font-size: 0.875rem;
  line-height: 1.8em;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  overflow: auto;
}
.post-module .post-content .post-meta {
  font-size: 0.9rem;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  max-height: 100px !important;
  opacity: 1 !important;
}
.injury-container {
  margin: 0 auto;
}
.injury-container:before,
.injury-container:after {
  content: '';
  display: block;
  clear: both;
}